** Q1. Import required libraries**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

** Q2. Load the dataset **

In [4]:
df = pd.read_csv("C:/Users/Testbook/Downloads/car+data.csv")

**3. Check the shape and basic information of the dataset.**

In [5]:
df.shape

(301, 9)

In [6]:
df.info

<bound method DataFrame.info of     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

**Q 4. Check for the presence of the duplicate records in the dataset? If present drop them**

In [9]:
duplicates = df.duplicated()
print(duplicates)
len(df[df.duplicated()])

0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

2

**Q5. Drop the columns which you think redundant for the analysis.**

In [10]:
df = df.drop(columns=['Car_Name'])

**Q 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year**

In [14]:
import pandas as pd
from datetime import datetime

# Assuming df is your DataFrame and it has a column named 'year'

# Step 1: Calculate the current year
current_year = datetime.now().year

# Step 2: Compute the 'age_of_the_car' feature
df['age_of_the_car'] = current_year - df['Year']

# Step 3: Drop the 'year' feature
df = df.drop(columns=['Year'])

In [15]:
df['age_of_the_car'].head()

0    10
1    11
2     7
3    13
4    10
Name: age_of_the_car, dtype: int64

**Q 7. Encode the categorical columns**

In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.DataFrame(df)

# Ensure categorical columns are of type string (if not already)
df['Fuel_Type'] = df['Fuel_Type'].astype(str)
df['Seller_Type'] = df['Seller_Type'].astype(str)
df['Transmission'] = df['Transmission'].astype(str)

# Initialize LabelEncoder
lbl_encode = LabelEncoder()

# List of categorical columns to encode
cate = ['Fuel_Type', 'Seller_Type','Transmission']

# Apply LabelEncoder to each column
for col in cate:
    df[col] = lbl_encode.fit_transform(df[col])

print(df)

     Selling_Price  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  \
0             3.35           5.59       27000          2            0
1             4.75           9.54       43000          1            0
2             7.25           9.85        6900          2            0
3             2.85           4.15        5200          2            0
4             4.60           6.87       42450          1            0
..             ...            ...         ...        ...          ...
296           9.50          11.60       33988          1            0
297           4.00           5.90       60000          2            0
298           3.35          11.00       87934          2            0
299          11.50          12.50        9000          1            0
300           5.30           5.90        5464          2            0

     Transmission  Owner  age_of_the_car
0               1      0              10
1               1      0              11
2               1      0               7
3               1      0              13
4               1      0              10
..            ...    ...             ...
296             1      0               8
297             1      0               9
298             1      0              15
299             1      0               7
300             1      0               8

[301 rows x 8 columns]

**Q8. Separate the target and independent features.**

In [17]:
# Separate the target variable
y = df['Selling_Price']

# Separate the independent features
X = df.drop('Selling_Price', axis=1)

In [19]:
X.head()

,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
0,5.59,27000,2,0,1,0,10
1,9.54,43000,1,0,1,0,11
2,9.85,6900,2,0,1,0,7
3,4.15,5200,2,0,1,0,13
4,6.87,42450,1,0,1,0,10

**Q 9. Split the data into train and test.**

In [20]:
# Import necessary libraries
from sklearn.model_selection import train_test_split

# Separate the target and independent features (assuming the previous step)
y = df['Selling_Price']
X = df.drop('Selling_Price', axis=1)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shape of the training and testing sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (240, 7)
X_test shape: (61, 7)
y_train shape: (240,)
y_test shape: (61,)

** Q10. Build a Random forest Regressor model and check the r2-score for train and test.**

In [21]:
# Import necessary libraries
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Build the Random Forest Regressor model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model on the training data
rf_model.fit(X_train, y_train)

# Predict on the training data
y_train_pred = rf_model.predict(X_train)

# Predict on the testing data
y_test_pred = rf_model.predict(X_test)

# Calculate the R² score for the training data
r2_train = r2_score(y_train, y_train_pred)

# Calculate the R² score for the testing data
r2_test = r2_score(y_test, y_test_pred)

# Display the R² scores
print("R² score for training data:", r2_train)
print("R² score for testing data:", r2_test)

R² score for training data: 0.984841908526253
R² score for testing data: 0.959315188851573

**Q 11. Create a pickle file with an extension as .pkl**

In [22]:
# Import the pickle library
import pickle

# Define the filename for the pickle file
filename = 'random_forest_model.pkl'

# Create the pickle file and save the trained model
with open(filename, 'wb') as file:
    pickle.dump(rf_model, file)

print(f"Model has been saved to {filename}")

Model has been saved to random_forest_model.pkl